.IdCard{
  text-align: left;
  border: solid 1px black;
  margin: 1em;
}
.picture{
  padding: 5px;
  height: 10em;
  width: 10em;
}
.idInfo{
  list-style: none;
}

.GrInfo{
  list-style: none;
}

.color {
 border: solid 1px black;
 margin: 15px;
}

.text {
  text-align: center;
  color: #fff;
  padding: 30px;
}

.CrCardInfo {
  display: inline-flex;
  justify-content: space-around;
  text-align: left;
  border: solid 1px rgb(0, 0, 0);
  margin: 1em;
}